/* .todos {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;
  display: -webkit-box;
}
.card {
  background-color: #fff;
  position: relative;
  border:1px solid rgba(0, 0, 0, .125);
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;
}
.card-body {
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  line-height: 1.0;
}
.btn-group {
  display: inline;
  border: rgba(0, 0, 0, .125);
}
.btn-detail {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-remove {
  background-color: #dc3545;
  border-color: #dc3545;
} */
